<!DOCTYPE html>
<html lang="en" layout:decorate="~{template_basic}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="/js/components/config_management.js"
            th:if="${!#strings.isEmpty(environment.key)}"
            th:src="@{/js/components/config_management.js}"></script>
</head>
<body>

<div layout:fragment="subheader" class="navbar navbar-light bg-light">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/environments" th:href="@{/environments}">
                Back
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="cursor: pointer" id="saveButton">
                Save
            </a>
        </li>
    </ul>
</div>

<div layout:fragment="content">
    <h1>
        Edit an environment
    </h1>

    <form action="/environments" th:action="@{/environments}" method="post" th:object="${environment}" class="needs-validation" novalidate>
        <div class="form-group">
            <label>Environment key</label>
            <input type="text"
                   class="form-control"
                   th:field="*{key}"
                   th:readonly="${edit_key_disabled}"
                   th:classappend="${#fields.hasErrors('key') ? 'is-invalid' : ''}" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('key')}" th:errors="*{key}"></div>
        </div>

        <div class="form-group">
            <label>Environment name</label>
            <input type="text"
                   class="form-control"
                   th:field="*{name}"
                   th:classappend="${#fields.hasErrors('key') ? 'is-invalid' : ''}" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label>Environment description</label>
            <textarea type="text"
                      class="form-control"
                      th:field="*{description}"
                      th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <input type="submit" style="display: none; " id="submitButton"/>
    </form>

    <div id="config_app"
         th:if="${!#strings.isEmpty(environment.key)}"></div>

    <script th:if="${!#strings.isEmpty(environment.key)}">
        $(document).ready(function() {
            let url = "[[${config_loader_url}]]";
            $.ajax({
                url: url,
                method: "GET",
                dataType: "json"
            }).done(function(data) {
                window.configManager.config = data;
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#saveButton").click(function(){
                let url = "[[${config_loader_url}]]";
                let data = window.configManager.config;
                $.ajax({
                    url: url,
                    method: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(data)
                }).done(function(response) {
                    $("#submitButton").click();
                });
            })
        });
    </script>
</div>
</body>
</html>